@import "../../../vars.scss";

.date {
  font: Aeonik;
  margin: 10px 50px 5px;
  color: white;
  font-weight: bold;
  font-size: $font-medium;
}

.type {
  margin-top: 0px;
  font: Aeonik;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.head {
  border: 1px solid $light-grey;
  margin-top: $margin-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $blue-sporteasy;
  width: 100%;
  flex-direction: column;
}

.body {
  border: 1px solid $light-grey;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: white;
  width: 100%;
  flex-direction: column;
}

.time {
  font: Aeonik;
  color: $black;
  font-size: 14px;
}

.score {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.team-text {
  font-size: $font-medium;
}

.vals {
  margin: $margin-small;
  padding: 0px 60px 5px;
  padding-left: 20px;
  padding-right: 20px;
  background: $almost-grey;
  border: 1px solid $light-grey;
  border-radius: 4px;
  font-size: $font-large;
}

.green {
  color: $green;
}

.red {
  color: $red;
}
