@import "../../vars.scss";

* {
  box-sizing: border-box;
}

.main-title {
  color: $blue-sporteasy;
  font-weight: bold;
  font-size: $font-large;
}

.grid-container {
  display: grid;
  grid-template-columns: 80% 20%;
  /* Deux colonnes de largeur égale */
  gap: 10px;
  /* Espace entre les colonnes */
}

.grid-item {
  padding-right: $margin-small;
}

.title {
  color: $blue-sporteasy;
}

.container {
  flex: 1;
  width: '100%';
  margin: 40px 10% 20px;
  justify-content: 'space-evenly';
}
